@use '../mixins';

.page {
  @include mixins.pageTextFlex;
}

.content {
  flex-grow: 1;
}
.title {
  @include mixins.title;
  text-align: center;
  width: 100%;
}
.container {
  @include mixins.container;
  max-width: 1040px;
}

.glowingDiv {
  // width: 150px;
  // height: 150px;
  // display: block;
  border-radius: 8px;
  position: relative;
  background: #fff;
  // animation: glowPulse 2s infinite alternate;
}

.angle1 {
  --a: 10deg;
}

.angle2 {
  --a: 55deg;
}

.angle3 {
  --a: 115deg;
}

.angle4 {
  --a: 165deg;
}

.angle5 {
  --a: 195deg;
}

.angle6 {
  --a: 245deg;
}

.angle7 {
  --a: 305deg;
}

.angle8 {
  --a: 355deg;
}

.glowingDiv::before {
  content: '';
  position: absolute;
  top: -2px;
  left: -2px;
  right: -2px;
  bottom: -2px;
  z-index: -1;
  border-radius: inherit;
  transition: --a 0.5s;
  background: linear-gradient(
    var(--a),
    #d1222278,
    #d7ed31b1,
    #a550e790,
    #47e972be,
    #2e3ef0b8,
    #f14feeaa,
    #53f5cd90
  );
  filter: blur(10px);
  opacity: 0.5;
  /* Optionally, animate the glow: */
  animation: glowPulse 2s infinite alternate;
}

@keyframes glowPulse {
  from {
    box-shadow: 0 0 10px rgba(255, 255, 255, 0.5);
  }
  to {
    box-shadow: 0 0 20px rgba(255, 255, 255, 1);
  }
}

.list {
  .row {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1rem;
    @media (max-width: 767px) {
      grid-template-columns: repeat(2, 1fr);
    }
    .item {
      display: flex;
      // min-height: 20rem;
      // @media (max-width: 767px) {
      //   min-height: 14rem;
      // }
      // @media (max-width: 479px) {
      //   min-height: 12rem;
      // }
      .link {
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        border-radius: 1rem;
        padding: 2.5rem;
        border: 1px solid var(--greyLight);
        color: #0c3273;
        text-decoration: inherit;
        &:hover {
          border-color: var(--grey);
        }
        @media (max-width: 767px) {
          padding: 1rem 1.5rem 1.5rem 1rem;
        }

        .title {
          font-family: 'Merriweather';
          font-size: 1.2rem;
          text-align: center;
          margin-bottom: 0.5rem;
        }
        .image {
          display: flex;
          align-items: flex-end;
          margin-left: auto;
          width: 50%;
          img {
            display: block;
            max-width: 100%;
            // height: 8rem;
            // @media (max-width: 767px) {
            //   height: 5em;
            // }
            // @media (max-width: 479px) {
            //   height: 4em;
            // }
          }
        }
      }
    }
  }
}
