@mixin pageTextFlex {
  padding: 0.5rem 0 1rem;
  display: flex;
  flex-direction: column;
}

@mixin title {
  margin-bottom: 1.5rem;
  line-height: 2.5rem;
  display: inline-block;
}

@mixin container {
  padding: 0.5rem 0 0.5rem;
  max-width: 80ch;
  width: 100%;
  margin: 0 auto;
}

@mixin button {
  display: inline-block;
  padding: 0.5rem 1rem;
  border: 1px solid var(--grey);
  font-family: Roboto;
  font-weight: 500;
  font-size: 0.875rem;
  line-height: 1.4;
  position: relative;
  border-radius: 0.7em;
  cursor: pointer;
  background-color: #fff;
  color: rgba(0, 0, 0, 0.54);
  transition: background-color 150ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;


  &:hover {
    background-color: rgba(0, 0, 0, 0.04);
  }

  &.sm {
    font-size: 1.4rem;
  }

  &>span {
    display: flex;
    justify-content: center;
  }

  svg {
    height: 1.7em;
    width: 1.7em;
  }

  & span+svg,
  & svg+span {
    margin-left: 10px;
  }
}